div:nth-child(1){
    background-color: grey;
    position: absolute;
    border-top-right-radius: 6.8em 2.8em;
    border-bottom-right-radius: 6.8em 2.8em;
    border-top-left-radius: 6.8em 2.8em;
    border-bottom-left-radius: 6.8em 2.8em;
    width: 250px;
    height: 100px;
    top: 800px;
    left: 1400px;
    box-shadow: 3px 3px 0px black;
    overflow: hidden;
    transition: all 1s;
}
div:nth-child(1):hover {
    background-color: white;
}
div:nth-child(1) p:nth-child(1){
    font-family: arial;
    color: white;
    font-size: 20pt;
    transform: translate(50px, 10px);
    transition: all 1s;
}
div:nth-child(1):hover p:nth-child(1){
    transform: translate(400px, 10px);
}
div:nth-child(1):hover p:nth-child(2){
    transform: translate(10px, -80px);
}
div:nth-child(1) p:nth-child(2){
    font-family: arial;
    text-align: center;
    color: white;
    width: 230px;
    height: 60px;
    font-size: 20pt;
    padding-top: 37px;
    transform: translate(-260px , -80px);
    background-color: grey;
    border-top-right-radius: 6.8em 2.8em;
    border-bottom-right-radius: 6.8em 2.8em;
    border-top-left-radius: 6.8em 2.8em;
    border-bottom-left-radius: 6.8em 2.8em;
    text-shadow: 2px 2px 0px black;
    text-shadow: -2px -2px 2px white;
    background-color: lightgrey;
    transition: all 1s;
}
input {
    display: none;
}
input + div {
    display: block;
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: .6em;
    box-shadow: 3px 0px 10px black;
    transition: all .5s;
}
label {
    position: relative;
    display: block;
    background-image: url(../img/flechaD.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 40px;
    height: 40px;
    left: -2px;
    border-radius: .6em;
    transition: all .3s;
}
input:checked + div {
    background-color: lightgrey;
    box-shadow: none;
}
input:checked + div > label {
    transform: rotate(1620deg);
}
ul {
    list-style-type: none;
}
ul > li > ul {
    position: absolute;
    top: 145px;
    left: 179px;
}
div > ul {
    padding-left: 0px;
    position: relative;
    width: 810px;
    height: 35px;
    top: -55px;
    left: 80px;
    overflow: hidden;
    transition: all 1s;
}
input:checked + div + div > ul {
    width: 0px;
}
div > ul li a{
    background-color: grey;
    font-size: 18pt;
    padding-top: 3px;
    border: 1px solid black;
    float: left;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    width: 160px;
    height: 33px;
    text-align: center;
}
div > ul ul{
    border: solid red;
    float: none;
    overflow: none;
}
a:hover {
    color: black;
    text-shadow: 2px 2px 2px white;
    background-image: url(../img/flechaD.png), url(../img/flechaI.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
}   
