* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

label, input, button {
  margin: 10px;
}

#tablaContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

table {
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
}

.bola {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
  transition: all 0.3s ease;
}

.control-buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.control-buttons button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-buttons button:hover {
  background-color: #e0e0e0;
}

#controlsColor, #controlsSize {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#controlsColor label, #controlsSize label {
  margin-right: 10px;
}

#controlsColor input, #controlsSize input {
  width: 200px;
}