body {
    background-color: #666;
    font-family: arial;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    width: 150px;
    height: 150px;
    float: left;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

li:nth-child(1n) {
    background-color: #ffc;
}

li:nth-child(2n) {
    background-color: #cfc;
    transform: rotate(5deg);
}

li:nth-child(3n) {
    background-color: #ccf;
    transform: rotate(-5deg);
}

li:nth-child(1), li:nth-child(7) {
    transform: rotate(-5deg);
}

li:nth-child(5) {
    transform: rotate(5deg);
}

li:hover {
    transform: scale(1.3);  
}