fieldset {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-group {
    margin-top: 15px;
}

.form-group:last-child {
    margin-bottom: 15px;
}

.info-options {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

#recibir_info:checked + .info-options {
    max-height: 500px;
    opacity: 1;
}

.info-options label {
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0 5px 0;
}

.checkbox-container {
    margin-top: 10px;
}

.submit-btn {
    clear: both;
    margin-top: 50px;
    width: 12%;
    margin-bottom: 15px;
}