body {
    background-color: darkblue;
}

table {
    margin: auto;
    background-color: white;
}

td {
    width: 20px;
    height: 20px;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}